.grid-example {
  font-family: monospace;
  width: max-content;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}


.grid-example__inner {
  width: 100%;
  height: 200px;
  border: 2px solid red;
  padding: 2px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.grid-example__inner>.item {
  background-color: rgb(97, 97, 192);
  padding: 3px;
}

.grid-example__inner>.item>div {
  background: yellow;
  padding: 2px;
}



.grid-example {
  font-family: monospace;
  width: max-content;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}


.grid-example__inner {
  width: 100%;
  height: 200px;
  border: 2px solid red;
  padding: 2px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.grid-example__inner>.item {
  background-color: rgb(97, 97, 192);
  padding: 3px;
}

.grid-example__inner>.item>div {
  background: yellow;
  padding: 2px;
}















.grid-area__inner {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.grid-area__inner .grid {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}




.grid-area .grid {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:

  ". header header header"
  "main main . aside" 
  ". footer footer footer"; 
}
.grid-area .grid-header {
  grid-area: header;
  background-color: rgba(255, 0, 0, 0.327);
}
.grid-area .grid-header::before {
  content: '. header header header';
  position: absolute;
  top: 10px;
  left: 50px;
}
.grid-area .grid-main {
  grid-area: main;
  background-color: rgba(169, 38, 193, 0.475);
}
.grid-area .grid-main::before {
  content: 'main main . aside';
  position: absolute;
  top: 150px;
  left: 110px;
}
.grid-area .grid-aside {
  grid-area: aside;
  background-color: rgba(65, 155, 145, 0.517);
}
.grid-area .grid-footer {
  grid-area: footer;
  background-color: rgb(173, 195, 114);
}
.grid-area .grid-footer::before {
  content: '. footer footer footer';
  position: absolute;
  top: 270px;
  left: 60px;
}

.grid-area .grid::before {
  content: 'точка делает блок пустым';
  position: absolute;
  top: -30px;
  left: 40px;
}




.grid-adaptive {
  display: flex;
  flex-flow: row wrap;
}



.grid-adaptive .auto-fill {
  display: grid;
  gap: .7em;
  grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
  grid-auto-rows: 3em;
  border: 1px solid coral;
  padding: .3em;

  margin: 1em;
}
.grid-adaptive .auto-fit {
  display: grid;
  gap: .7em;
  grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
  grid-auto-rows: 3em;
  border: 1px solid coral;
  padding: .3em;

  margin: 1em;
}

.grid-adaptive .flex {
  display: flex;
  flex-direction: row;

}

.grid-adaptive .item {
  background-color: #b46262;
}


.grid-adaptive .auto-fill:first-child,
.grid-adaptive .auto-fit:first-child,
.grid-adaptive .flex:first-child {
  width: 500px;
}
.grid-adaptive .auto-fill:nth-child(2),
.grid-adaptive .auto-fit:nth-child(2),
.grid-adaptive .flex:nth-child(2) {
  width: 350px;
}
.grid-adaptive .auto-fill:nth-child(3), 
.grid-adaptive .auto-fit:nth-child(3) {
  width: 300px;
}
.grid-adaptive .auto-fill:nth-child(4),
.grid-adaptive .auto-fit:nth-child(4) {
  width: 250px;
}
.grid-adaptive .auto-fill:nth-child(5),
.grid-adaptive .auto-fit:nth-child(5) {
  width: 200px;
}














